set timeout=0
set default=0
insmod all_video
insmod vbe
set gfxmode=800x600x32,800x600,640x480x32,640x480
set gfxpayload=800x600x32,800x600,640x480
terminal_output gfxterm

menuentry "NexOS" {
    multiboot /boot/nexos_kernel
    boot
}
